# Import dependencies

In [1]:
# Import our dependencies
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, balanced_accuracy_score

# Import dataset and prepare for the model

In [2]:
# Import our input dataset
travel_ins_df = pd.read_csv('Resources/travel_insurance_clean.csv')
print(travel_ins_df.shape)
travel_ins_df.head()

(62290, 10)

,Agency,Agency Type,Distribution Channel,Product Name,Claim,Duration,Destination,Net Sales,Commision (in value),Age
0,CBH,Travel Agency,Offline,Comprehensive Plan,0,186,MALAYSIA,-29.0,9.57,81
1,CBH,Travel Agency,Offline,Comprehensive Plan,0,186,MALAYSIA,-29.0,9.57,71
2,CWT,Travel Agency,Online,Rental Vehicle Excess Insurance,0,65,AUSTRALIA,-49.5,29.70,32
3,CWT,Travel Agency,Online,Rental Vehicle Excess Insurance,0,60,AUSTRALIA,-39.6,23.76,32
4,CWT,Travel Agency,Online,Rental Vehicle Excess Insurance,0,79,ITALY,-19.8,11.88,41

In [3]:
travel_ins_df.dtypes[travel_ins_df.dtypes == 'object']

Agency                  object
Agency Type             object
Distribution Channel    object
Product Name            object
Destination             object
dtype: object

In [4]:
travel_ins_df = pd.get_dummies(travel_ins_df, columns=["Agency", "Agency Type", "Distribution Channel",
                                                       "Product Name", "Destination"])

# Split the Data into Training and Testing

In [5]:
# Split our preprocessed data into our features and target arrays
y = travel_ins_df.Claim
X = travel_ins_df.drop(columns=["Claim"])

In [6]:
X.describe()

,Duration,Net Sales,Commision (in value),Age,Agency_ADM,Agency_ART,Agency_C2B,Agency_CBH,Agency_CCR,Agency_CSR,...,Destination_UNITED KINGDOM,Destination_UNITED STATES,Destination_URUGUAY,Destination_UZBEKISTAN,Destination_VANUATU,Destination_VENEZUELA,Destination_VIET NAM,"Destination_VIRGIN ISLANDS, U.S.",Destination_ZAMBIA,Destination_ZIMBABWE
count,62290.000000,62290.000000,62290.000000,62290.000000,62290.000000,62290.000000,62290.000000,62290.000000,62290.000000,62290.000000,...,62290.000000,62290.000000,62290.000000,62290.000000,62290.000000,62290.000000,62290.000000,62290.000000,62290.000000,62290.000000
mean,48.598090,40.587147,9.666417,38.734612,0.001300,0.004367,0.132638,0.001621,0.002360,0.001381,...,0.020983,0.040504,0.000016,0.000161,0.000080,0.000080,0.026762,0.000016,0.000048,0.000048
std,74.173549,48.894137,19.811206,10.096847,0.036037,0.065937,0.339185,0.040235,0.048522,0.037132,...,0.143327,0.197140,0.004007,0.012669,0.008959,0.008959,0.161388,0.004007,0.006940,0.006940
min,1.000000,-389.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,10.000000,18.000000,0.000000,35.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,23.000000,26.000000,0.000000,36.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,53.000000,48.000000,10.500000,42.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,547.000000,682.000000,262.760000,88.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [7]:
# Check the balance of our target values
travel_ins_df["Claim"].value_counts()

0    61373
1      917
Name: Claim, dtype: int64

In [8]:
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

In [9]:
# Examine the shape of the training set
X_train.shape

(46717, 196)

# Logistic Regression Model

In [10]:
# LogisticRegression classifiers
classifier = LogisticRegression(solver='lbfgs', random_state=42)

In [11]:
# Train the data
classifier.fit(X_train, y_train)

C:\Users\lilii\anaconda3\envs\mlenv\lib\site-packages\sklearn\linear_model\_logistic.py:765: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(random_state=42)

In [12]:
# Predict outcomes for test data set
predictions = classifier.predict(X_test)
predict_df = pd.DataFrame({"Prediction": predictions, "Actual": y_test})
predict_df.head()

       Prediction  Actual
17282           0       0
38393           0       0
15929           0       0
44705           0       0
59899           0       0

In [13]:
predict_df["Prediction"].value_counts()

0    15573
Name: Prediction, dtype: int64

In [14]:
predict_df["Actual"].value_counts()

0    15344
1      229
Name: Actual, dtype: int64

In [15]:
# Check accuracy score
accuracy_score(y_test, predictions)

0.9852950619662236

In [16]:
# Calculated the balanced accuracy score
y_pred = classifier.predict(X_test)
balanced_accuracy_score(y_test, y_pred)

0.5