# Import dependencies

In [1]:
# Import our dependencies
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

from sqlalchemy import create_engine
import psycopg2
from config import db_password

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, balanced_accuracy_score, confusion_matrix, classification_report

from sklearn.preprocessing import StandardScaler
# from sklearn.svm import SVC

# Import dataset and prepare for the model

In [2]:
# Create the connection to the PostgreSQL database
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/travel_insurance"
engine = create_engine(db_string)

In [3]:
# Import our input dataset
travel_ins_df = pd.read_sql_table('travel', con=engine, index_col='index')
print(travel_ins_df.shape)
travel_ins_df.head()

(62290, 10)

,Agency,Agency Type,Distribution Channel,Product Name,Claim,Duration,Destination,Net Sales,Commision (in value),Age
index,,,,,,,,,,
0,CBH,Travel Agency,Offline,Comprehensive Plan,0,186,MALAYSIA,-29.0,9.57,81
1,CBH,Travel Agency,Offline,Comprehensive Plan,0,186,MALAYSIA,-29.0,9.57,71
2,CWT,Travel Agency,Online,Rental Vehicle Excess Insurance,0,65,AUSTRALIA,-49.5,29.70,32
3,CWT,Travel Agency,Online,Rental Vehicle Excess Insurance,0,60,AUSTRALIA,-39.6,23.76,32
4,CWT,Travel Agency,Online,Rental Vehicle Excess Insurance,0,79,ITALY,-19.8,11.88,41

In [4]:
# Encode Labels
travel_ins_df = pd.get_dummies(travel_ins_df, columns=travel_ins_df.dtypes.loc[lambda x: x == "object"].index.tolist())
print(travel_ins_df.shape)
travel_ins_df.head()

(62290, 197)

,Claim,Duration,Net Sales,Commision (in value),Age,Agency_ADM,Agency_ART,Agency_C2B,Agency_CBH,Agency_CCR,...,Destination_UNITED KINGDOM,Destination_UNITED STATES,Destination_URUGUAY,Destination_UZBEKISTAN,Destination_VANUATU,Destination_VENEZUELA,Destination_VIET NAM,"Destination_VIRGIN ISLANDS, U.S.",Destination_ZAMBIA,Destination_ZIMBABWE
index,,,,,,,,,,,,,,,,,,,,,
0,0,186,-29.0,9.57,81,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,0,186,-29.0,9.57,71,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,0,65,-49.5,29.70,32,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,60,-39.6,23.76,32,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,79,-19.8,11.88,41,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
# Create a new DataFrame that holds only Net Sales and Commision
new_df = travel_ins_df.copy()
money_df = new_df.filter(items=["Net Sales", "Commision (in value)"])

print(money_df.shape)
money_df.head()

(62290, 2)

       Net Sales  Commision (in value)
index
0          -29.0                  9.57
1          -29.0                  9.57
2          -49.5                 29.70
3          -39.6                 23.76
4          -19.8                 11.88

In [6]:
# Drop the Net Sales and Commision columns
travel_ins_df.drop(columns=["Net Sales", "Commision (in value)"], inplace=True)
print(travel_ins_df.shape)
travel_ins_df.head()

(62290, 195)

,Claim,Duration,Age,Agency_ADM,Agency_ART,Agency_C2B,Agency_CBH,Agency_CCR,Agency_CSR,Agency_CWT,...,Destination_UNITED KINGDOM,Destination_UNITED STATES,Destination_URUGUAY,Destination_UZBEKISTAN,Destination_VANUATU,Destination_VENEZUELA,Destination_VIET NAM,"Destination_VIRGIN ISLANDS, U.S.",Destination_ZAMBIA,Destination_ZIMBABWE
index,,,,,,,,,,,,,,,,,,,,,
0,0,186,81,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,186,71,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,65,32,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,0,60,32,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,0,79,41,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

# Split the Data into Training and Testing

In [7]:
# Split our preprocessed data into our features and target arrays
y = travel_ins_df.Claim
X = travel_ins_df.drop(columns=["Claim"])

In [8]:
X.describe()

,Duration,Age,Agency_ADM,Agency_ART,Agency_C2B,Agency_CBH,Agency_CCR,Agency_CSR,Agency_CWT,Agency_EPX,...,Destination_UNITED KINGDOM,Destination_UNITED STATES,Destination_URUGUAY,Destination_UZBEKISTAN,Destination_VANUATU,Destination_VENEZUELA,Destination_VIET NAM,"Destination_VIRGIN ISLANDS, U.S.",Destination_ZAMBIA,Destination_ZIMBABWE
count,62290.000000,62290.000000,62290.000000,62290.000000,62290.000000,62290.000000,62290.000000,62290.000000,62290.000000,62290.000000,...,62290.000000,62290.000000,62290.000000,62290.000000,62290.000000,62290.000000,62290.000000,62290.000000,62290.000000,62290.000000
mean,48.598090,38.734612,0.001300,0.004367,0.132638,0.001621,0.002360,0.001381,0.137679,0.563140,...,0.020983,0.040504,0.000016,0.000161,0.000080,0.000080,0.026762,0.000016,0.000048,0.000048
std,74.173549,10.096847,0.036037,0.065937,0.339185,0.040235,0.048522,0.037132,0.344565,0.496001,...,0.143327,0.197140,0.004007,0.012669,0.008959,0.008959,0.161388,0.004007,0.006940,0.006940
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,10.000000,35.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,23.000000,36.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,53.000000,42.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,547.000000,88.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [9]:
# Check the balance of our target values
travel_ins_df["Claim"].value_counts()

0    61373
1      917
Name: Claim, dtype: int64

In [10]:
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

In [11]:
# Examine the shape of the training set
X_train.shape

(46717, 194)

# Logistic Regression Model

In [12]:
# LogisticRegression classifiers
classifier = LogisticRegression(solver='lbfgs', random_state=42, max_iter=100000)

In [13]:
# Train the data
classifier.fit(X_train, y_train)

LogisticRegression(max_iter=100000, random_state=42)

In [14]:
# Predict outcomes for test data set
y_pred = classifier.predict(X_test)
predict_df = pd.DataFrame({"Prediction": y_pred, "Actual": y_test}).reset_index(drop=True)
predict_df.head()

   Prediction  Actual
0           0       0
1           0       0
2           0       0
3           0       0
4           0       0

In [15]:
predict_df["Prediction"].value_counts()

0    15573
Name: Prediction, dtype: int64

In [16]:
predict_df["Actual"].value_counts()

0    15344
1      229
Name: Actual, dtype: int64

## Check model accuracy

In [17]:
# Check accuracy score and balanced accuracy score
print(f"Accuracy score (the percentage of predictions that are correct) is: {accuracy_score(y_test, y_pred)*100:.2f}%")
print(f"Balanced accuracy score is: {balanced_accuracy_score(y_test, y_pred)*100:.2f}%")

Accuracy score (the percentage of predictions that are correct) is: 98.53%
Balanced accuracy score is: 50.00%

In [18]:
# Confusion matrix
matrix = confusion_matrix(y_test, y_pred)
print(matrix)

[[15344     0]
 [  229     0]]

In [19]:
# Classification report
report = classification_report(y_test, y_pred)
print(report)

              precision    recall  f1-score   support

           0       0.99      1.00      0.99     15344
           1       0.00      0.00      0.00       229

    accuracy                           0.99     15573
   macro avg       0.49      0.50      0.50     15573
weighted avg       0.97      0.99      0.98     15573

C:\Users\lilii\anaconda3\envs\mlenv\lib\site-packages\sklearn\metrics\_classification.py:1248: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\lilii\anaconda3\envs\mlenv\lib\site-packages\sklearn\metrics\_classification.py:1248: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\lilii\anaconda3\envs\mlenv\lib\site-packages\sklearn\metrics\_classification.py:1248: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

# Scaling Data

In [20]:
# Creating the scaler instance
data_scaler = StandardScaler()

In [21]:
# Fitting the scaler
travel_ins_scaled = data_scaler.fit_transform(travel_ins_df)
travel_ins_scaled[:2]

array([[-1.22235117e-01,  1.85245300e+00,  4.18603237e+00,
        -3.60841018e-02, -6.62255500e-02, -3.91050774e-01,
         2.48139613e+01, -4.86365275e-02, -3.71826269e-02,
        -3.99575304e-01, -1.13536939e+00, -3.34046385e-01,
        -7.95801448e-02, -1.05603287e-01, -1.08138831e-01,
        -1.28316546e-01, -9.24605102e-02, -3.96959113e-02,
        -6.00679768e-01,  6.00679768e-01,  7.81688486e+00,
        -7.81688486e+00, -2.37502209e-01, -5.16679980e-01,
        -6.28390553e-02, -5.58944970e-02, -1.52846424e-01,
        -4.00995706e-02, -2.91819030e-02, -3.71826269e-02,
        -3.08403174e-01, -2.63564760e-01, -6.53152617e-01,
        -1.20210794e-02,  1.39599607e+01, -7.53863546e-02,
        -3.44877464e-02, -5.54592996e-02, -3.99575304e-01,
        -1.93495370e-01, -5.70389930e-02, -3.42536532e-02,
        -5.27737330e-02, -1.55198944e-02, -1.28316546e-01,
        -9.23721636e-02, -4.00676914e-03, -1.76797181e-01,
        -4.00676914e-03, -4.00676914e-03, -1.87965819e-02,
        -4.00676914e-03, -2.51009090e-01, -4.04992323e-02,
        -1.13334914e-02, -1.44480034e-02, -3.92881312e-02,
        -4.00676914e-03, -6.94003915e-03, -2.65870783e-02,
        -4.00676914e-03, -6.94003915e-03, -8.01373127e-03,
        -1.26714320e-02, -4.00676914e-03, -4.00676914e-03,
        -2.43792713e-02, -1.12169927e-01, -1.38810812e-02,
        -8.91353599e-02, -4.00676914e-03, -9.23721636e-02,
        -5.66647275e-03, -1.38810812e-02, -2.88004348e-01,
        -1.55198944e-02, -1.06014253e-02, -2.99971611e-02,
        -1.55198944e-02, -3.33009062e-02, -4.08950137e-02,
        -4.00676914e-03, -1.06014253e-02, -1.83642714e-02,
        -1.20210794e-02, -8.95969586e-03, -6.94003915e-03,
        -1.44480034e-02, -3.90826557e-02, -8.83082287e-02,
        -5.66647275e-03, -1.55198944e-02, -8.58753956e-02,
        -8.95969586e-03, -4.20601661e-02, -4.00676914e-03,
        -1.20210794e-02, -4.00676914e-03, -8.01373127e-03,
        -4.00676914e-03, -5.66647275e-03, -1.99923185e-01,
        -1.92191841e-02, -4.33802469e-02, -1.57029473e-01,
        -2.41548739e-01, -6.94003915e-03, -4.44808011e-02,
        -2.77701899e-02, -8.56854797e-02, -6.94003915e-03,
        -1.84799120e-01, -1.60290067e-02, -1.55198944e-02,
        -1.83642714e-02, -1.55736588e-01, -1.13334914e-02,
        -9.81493386e-03, -4.89670584e-02, -6.94003915e-03,
        -8.95969586e-03, -4.00676914e-03, -8.95969586e-03,
        -1.20210794e-02, -4.20601661e-02, -6.94003915e-03,
         3.09589033e+00, -2.00377064e-02, -5.66647275e-03,
        -1.32900167e-02, -1.32900167e-02, -2.30230510e-02,
        -4.00676914e-03, -2.65870783e-02, -1.49935221e-02,
        -1.13845618e-01, -8.95969586e-03, -4.35655884e-02,
        -7.78247430e-02, -4.00676914e-03, -9.32519909e-02,
        -4.00676914e-03, -5.66647275e-03, -5.13789504e-02,
        -1.70016020e-02, -2.15819635e-02, -8.01373127e-03,
        -1.32900167e-02, -3.84596833e-02, -2.03671430e-01,
        -2.33694694e-02, -3.92881312e-02, -6.94003915e-03,
        -1.60290067e-02, -4.00676914e-03, -5.66647275e-03,
        -1.92191841e-02, -3.56352619e-02, -4.00676914e-03,
        -4.00676914e-03, -3.15647914e-02, -4.00676914e-03,
        -1.06014253e-02, -4.00676914e-03, -4.00676914e-03,
        -5.18599621e-01, -1.26714320e-02, -4.00676914e-03,
        -5.09056229e-02, -7.33123138e-02, -6.41138264e-02,
        -3.20703755e-02, -6.74373805e-02, -1.33019001e-01,
        -4.00676914e-03, -1.83642714e-02, -3.21947036e-01,
        -8.01373127e-03, -1.06014253e-02, -3.58603805e-02,
        -5.66647275e-03, -4.00676914e-03, -8.01373127e-03,
        -1.26714320e-02, -6.77967810e-02, -1.46397413e-01,
        -2.05460290e-01, -4.00676914e-03, -1.26714320e-02,
        -8.95969586e-03, -8.95969586e-03, -1.65824649e-01,
        -4.00676914e-03, -6.94003915e-03, -6.94003915e-03],
       [-1.22235117e-01,  1.85245300e+00,  3.19561619e+00,
        -3.60841018e-02, -6.62255500e-02, -3.91050774e-01,
         2.48139613e+01, -4.86365275e-02, -3.71826269e-02,
        -3.99575304e-01, -1.13536939e+00, -3.34046385e-01,
        -7.95801448e-02, -1.05603287e-01, -1.08138831e-01,
        -1.28316546e-01, -9.24605102e-02, -3.96959113e-02,
        -6.00679768e-01,  6.00679768e-01,  7.81688486e+00,
        -7.81688486e+00, -2.37502209e-01, -5.16679980e-01,
        -6.28390553e-02, -5.58944970e-02, -1.52846424e-01,
        -4.00995706e-02, -2.91819030e-02, -3.71826269e-02,
        -3.08403174e-01, -2.63564760e-01, -6.53152617e-01,
        -1.20210794e-02,  1.39599607e+01, -7.53863546e-02,
        -3.44877464e-02, -5.54592996e-02, -3.99575304e-01,
        -1.93495370e-01, -5.70389930e-02, -3.42536532e-02,
        -5.27737330e-02, -1.55198944e-02, -1.28316546e-01,
        -9.23721636e-02, -4.00676914e-03, -1.76797181e-01,
        -4.00676914e-03, -4.00676914e-03, -1.87965819e-02,
        -4.00676914e-03, -2.51009090e-01, -4.04992323e-02,
        -1.13334914e-02, -1.44480034e-02, -3.92881312e-02,
        -4.00676914e-03, -6.94003915e-03, -2.65870783e-02,
        -4.00676914e-03, -6.94003915e-03, -8.01373127e-03,
        -1.26714320e-02, -4.00676914e-03, -4.00676914e-03,
        -2.43792713e-02, -1.12169927e-01, -1.38810812e-02,
        -8.91353599e-02, -4.00676914e-03, -9.23721636e-02,
        -5.66647275e-03, -1.38810812e-02, -2.88004348e-01,
        -1.55198944e-02, -1.06014253e-02, -2.99971611e-02,
        -1.55198944e-02, -3.33009062e-02, -4.08950137e-02,
        -4.00676914e-03, -1.06014253e-02, -1.83642714e-02,
        -1.20210794e-02, -8.95969586e-03, -6.94003915e-03,
        -1.44480034e-02, -3.90826557e-02, -8.83082287e-02,
        -5.66647275e-03, -1.55198944e-02, -8.58753956e-02,
        -8.95969586e-03, -4.20601661e-02, -4.00676914e-03,
        -1.20210794e-02, -4.00676914e-03, -8.01373127e-03,
        -4.00676914e-03, -5.66647275e-03, -1.99923185e-01,
        -1.92191841e-02, -4.33802469e-02, -1.57029473e-01,
        -2.41548739e-01, -6.94003915e-03, -4.44808011e-02,
        -2.77701899e-02, -8.56854797e-02, -6.94003915e-03,
        -1.84799120e-01, -1.60290067e-02, -1.55198944e-02,
        -1.83642714e-02, -1.55736588e-01, -1.13334914e-02,
        -9.81493386e-03, -4.89670584e-02, -6.94003915e-03,
        -8.95969586e-03, -4.00676914e-03, -8.95969586e-03,
        -1.20210794e-02, -4.20601661e-02, -6.94003915e-03,
         3.09589033e+00, -2.00377064e-02, -5.66647275e-03,
        -1.32900167e-02, -1.32900167e-02, -2.30230510e-02,
        -4.00676914e-03, -2.65870783e-02, -1.49935221e-02,
        -1.13845618e-01, -8.95969586e-03, -4.35655884e-02,
        -7.78247430e-02, -4.00676914e-03, -9.32519909e-02,
        -4.00676914e-03, -5.66647275e-03, -5.13789504e-02,
        -1.70016020e-02, -2.15819635e-02, -8.01373127e-03,
        -1.32900167e-02, -3.84596833e-02, -2.03671430e-01,
        -2.33694694e-02, -3.92881312e-02, -6.94003915e-03,
        -1.60290067e-02, -4.00676914e-03, -5.66647275e-03,
        -1.92191841e-02, -3.56352619e-02, -4.00676914e-03,
        -4.00676914e-03, -3.15647914e-02, -4.00676914e-03,
        -1.06014253e-02, -4.00676914e-03, -4.00676914e-03,
        -5.18599621e-01, -1.26714320e-02, -4.00676914e-03,
        -5.09056229e-02, -7.33123138e-02, -6.41138264e-02,
        -3.20703755e-02, -6.74373805e-02, -1.33019001e-01,
        -4.00676914e-03, -1.83642714e-02, -3.21947036e-01,
        -8.01373127e-03, -1.06014253e-02, -3.58603805e-02,
        -5.66647275e-03, -4.00676914e-03, -8.01373127e-03,
        -1.26714320e-02, -6.77967810e-02, -1.46397413e-01,
        -2.05460290e-01, -4.00676914e-03, -1.26714320e-02,
        -8.95969586e-03, -8.95969586e-03, -1.65824649e-01,
        -4.00676914e-03, -6.94003915e-03, -6.94003915e-03]])

In [22]:
# Check if standardization was successful
print(f"The mean of the first column is evaluated as {np.mean(travel_ins_scaled[:,0]):.0f}. Standardization was successful if mean = 0.")
print(f"The standard deviation is evaluated as {np.std(travel_ins_scaled[:,0]):.0f}. Standardization was successful if standard deviation = 1.")

The mean of the first column is evaluated as 0. Standardization was successful if mean = 0.
The standard deviation is evaluated as 1. Standardization was successful if standard deviation = 1.

# SVM Model

In [23]:
# Instantiate a linear SVM model
# model = SVC(kernel='linear')

In [24]:
# Train the data
# model.fit(X_train, y_train)

In [25]:
# Predict outcomes for test data set
# y_pred = model.predict(X_test)
# results = pd.DataFrame({"Prediction": y_pred, "Actual": y_test}).reset_index(drop=True)
# results.head()

## Check model accuracy

In [26]:
# Check accuracy score and balanced accuracy score
# print(f"Accuracy score (the percentage of predictions that are correct) is: {accuracy_score(y_test, y_pred)*100:.2f}%")
# print(f"Balanced accuracy score is: {balanced_accuracy_score(y_test, y_pred)*100:.2f}%")

In [27]:
# Confusion matrix
# matrix = confusion_matrix(y_test, y_pred)
# print(matrix)

In [28]:
# Classification report
# report = classification_report(y_test, y_pred)
# print(report)