# Import dependencies

In [1]:
# Import our dependencies
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import psycopg2
from config import db_password
from collections import Counter

from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, balanced_accuracy_score, confusion_matrix, classification_report
from imblearn.metrics import classification_report_imbalanced

from sklearn.linear_model import LogisticRegression
from imblearn.ensemble import BalancedRandomForestClassifier, EasyEnsembleClassifier
from imblearn.over_sampling import RandomOverSampler, SMOTE
from imblearn.under_sampling import RandomUnderSampler, ClusterCentroids
from imblearn.combine import SMOTEENN

import warnings
warnings.filterwarnings('ignore')

# Import dataset and prepare for the model

In [2]:
# Create the connection to the PostgreSQL database
try:
    db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/travel_insurance"
    engine = create_engine(db_string)
except:
    db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5433/travel_insurance"
    engine = create_engine(db_string)

In [3]:
# Import our input dataset
travel_ins_df = pd.read_sql_table('travel', con=engine, index_col='index')
print(travel_ins_df.shape)
travel_ins_df.head()

(62290, 8)

,Agency,Agency Type,Distribution Channel,Product Name,Claim,Duration,Destination,Age
index,,,,,,,,
0,CBH,Travel Agency,Offline,Comprehensive Plan,0,186,MALAYSIA,81
1,CBH,Travel Agency,Offline,Comprehensive Plan,0,186,MALAYSIA,71
2,CWT,Travel Agency,Online,Rental Vehicle Excess Insurance,0,65,AUSTRALIA,32
3,CWT,Travel Agency,Online,Rental Vehicle Excess Insurance,0,60,AUSTRALIA,32
4,CWT,Travel Agency,Online,Rental Vehicle Excess Insurance,0,79,ITALY,41

In [4]:
# # Encode Labels with LabelEncoder
# columns_list = travel_ins_df.dtypes.loc[lambda x: x == "object"].index.tolist()
# for column in columns_list:
#     travel_ins_df[column] = LabelEncoder().fit_transform(travel_ins_df[column])

# print(travel_ins_df.shape)
# travel_ins_df.head()

In [5]:
# Encode Labels with get_dummies
travel_ins_df = pd.get_dummies(travel_ins_df, columns=travel_ins_df.dtypes.loc[lambda x: x == "object"].index.tolist())
print(travel_ins_df.shape)
travel_ins_df.head()

(62290, 195)

,Claim,Duration,Age,Agency_ADM,Agency_ART,Agency_C2B,Agency_CBH,Agency_CCR,Agency_CSR,Agency_CWT,...,Destination_UNITED KINGDOM,Destination_UNITED STATES,Destination_URUGUAY,Destination_UZBEKISTAN,Destination_VANUATU,Destination_VENEZUELA,Destination_VIET NAM,"Destination_VIRGIN ISLANDS, U.S.",Destination_ZAMBIA,Destination_ZIMBABWE
index,,,,,,,,,,,,,,,,,,,,,
0,0,186,81,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,186,71,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,65,32,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,0,60,32,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,0,79,41,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

# Split the Data into Training and Testing

In [6]:
# Split our preprocessed data into our features and target arrays
y = travel_ins_df.Claim
X = travel_ins_df.drop(columns=["Claim"])

In [7]:
X.describe()

,Duration,Age,Agency_ADM,Agency_ART,Agency_C2B,Agency_CBH,Agency_CCR,Agency_CSR,Agency_CWT,Agency_EPX,...,Destination_UNITED KINGDOM,Destination_UNITED STATES,Destination_URUGUAY,Destination_UZBEKISTAN,Destination_VANUATU,Destination_VENEZUELA,Destination_VIET NAM,"Destination_VIRGIN ISLANDS, U.S.",Destination_ZAMBIA,Destination_ZIMBABWE
count,62290.000000,62290.000000,62290.000000,62290.000000,62290.000000,62290.000000,62290.000000,62290.000000,62290.000000,62290.000000,...,62290.000000,62290.000000,62290.000000,62290.000000,62290.000000,62290.000000,62290.000000,62290.000000,62290.000000,62290.000000
mean,48.598090,38.734612,0.001300,0.004367,0.132638,0.001621,0.002360,0.001381,0.137679,0.563140,...,0.020983,0.040504,0.000016,0.000161,0.000080,0.000080,0.026762,0.000016,0.000048,0.000048
std,74.173549,10.096847,0.036037,0.065937,0.339185,0.040235,0.048522,0.037132,0.344565,0.496001,...,0.143327,0.197140,0.004007,0.012669,0.008959,0.008959,0.161388,0.004007,0.006940,0.006940
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,10.000000,35.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,23.000000,36.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,53.000000,42.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,547.000000,88.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [8]:
# Check the balance of our target values
travel_ins_df["Claim"].value_counts()

0    61373
1      917
Name: Claim, dtype: int64

In [9]:
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

In [10]:
# Examine the shape of the training set
X_train.shape

(46717, 194)

# Scaling Data

In [11]:
# Scale the data
from sklearn.preprocessing import StandardScaler

In [12]:
# Creating the scaler instance
data_scaler = StandardScaler()

# Fitting the scaler
X_scaler = data_scaler.fit(X_train)

# Scaling data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

# Check if standardization was successful
print(f"The mean of the first column is evaluated as {np.mean(X_train_scaled[:,0]):.0f}. Standardization was successful if mean = 0.")
print(f"The standard deviation is evaluated as {np.std(X_train_scaled[:,0]):.0f}. Standardization was successful if standard deviation = 1.")

The mean of the first column is evaluated as 0. Standardization was successful if mean = 0.
The standard deviation is evaluated as 1. Standardization was successful if standard deviation = 1.

In [13]:
# Check model accuracy function
def check_model_accuracy(name, predictions):
    print(name)
    print("----------------------------------------")
    
    # Check accuracy score and balanced accuracy score
    print(f"Accuracy score is: {accuracy_score(y_test, predictions)*100:.2f}%")
    print(f"Balanced accuracy score is: {balanced_accuracy_score(y_test, predictions)*100:.2f}%")
    print("----------------------------------------")
    
    # Confusion matrix
    matrix = confusion_matrix(y_test, predictions)
    matrix_df = pd.DataFrame(matrix, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"])
    print("Confusion matrix")
    print(matrix_df)
    print("----------------------------------------")
    
    # Classification report
    report = classification_report_imbalanced(y_test, predictions)
    print("Classification report")
    print(report)

# Logistic Regression Model

In [15]:
# LogisticRegression classifiers
classifier = LogisticRegression(solver='lbfgs', random_state=42, max_iter=100000)

In [16]:
# Train the data
classifier.fit(X_train_scaled, y_train)

LogisticRegression(max_iter=100000, random_state=42)

In [17]:
# Predict outcomes for test data set
y_pred = classifier.predict(X_test_scaled)

In [18]:
# Check model accuracy
check_model_accuracy("Logistic Regression Model", y_pred)

Logistic Regression Model
----------------------------------------
Accuracy score is: 98.53%
Balanced accuracy score is: 50.00%
----------------------------------------
Confusion matrix
          Predicted 0  Predicted 1
Actual 0        15344            0
Actual 1          229            0
----------------------------------------
Classification report
                   pre       rec       spe        f1       geo       iba       sup

          0       0.99      1.00      0.00      0.99      0.00      0.00     15344
          1       0.00      0.00      1.00      0.00      0.00      0.00       229

avg / total       0.97      0.99      0.01      0.98      0.00      0.00     15573

# Balanced Random Forest Classifier

In [19]:
# Resample the training data with the BalancedRandomForestClassifier
balanced_model = BalancedRandomForestClassifier(n_estimators= 100, random_state=42)
# fit
balanced_model = balanced_model.fit(X_train_scaled, y_train)
# predict
predictions = balanced_model.predict(X_test_scaled)

In [20]:
# Check model accuracy
check_model_accuracy("Balanced Random Forest Classifier", predictions)

Balanced Random Forest Classifier
----------------------------------------
Accuracy score is: 71.92%
Balanced accuracy score is: 75.21%
----------------------------------------
Confusion matrix
          Predicted 0  Predicted 1
Actual 0        11020         4324
Actual 1           49          180
----------------------------------------
Classification report
                   pre       rec       spe        f1       geo       iba       sup

          0       1.00      0.72      0.79      0.83      0.75      0.56     15344
          1       0.04      0.79      0.72      0.08      0.75      0.57       229

avg / total       0.98      0.72      0.79      0.82      0.75      0.56     15573

In [21]:
# List the features sorted in descending order by feature importance
importances = sorted(zip(balanced_model.feature_importances_, X.columns), reverse=True)
for importance in importances:
    print(f'{importance[1]}:  {importance[0]*100:.1f}%')

Duration:  33.5%
Age:  19.8%
Agency_C2B:  4.8%
Destination_SINGAPORE:  3.4%
Agency_EPX:  3.3%
Agency Type_Airlines:  3.1%
Product Name_Cancellation Plan:  2.9%
Agency Type_Travel Agency:  2.5%
Product Name_2 way Comprehensive Plan:  1.4%
Destination_MALAYSIA:  1.1%
Destination_THAILAND:  1.0%
Product Name_Basic Plan:  1.0%
Product Name_Bronze Plan:  0.9%
Agency_LWC:  0.8%
Destination_UNITED STATES:  0.8%
Destination_CHINA:  0.8%
Product Name_Annual Silver Plan:  0.8%
Agency_JZI:  0.8%
Product Name_Silver Plan:  0.7%
Destination_INDONESIA:  0.7%
Product Name_Rental Vehicle Excess Insurance:  0.7%
Destination_JAPAN:  0.6%
Destination_AUSTRALIA:  0.6%
Product Name_1 way Comprehensive Plan:  0.6%
Destination_HONG KONG:  0.6%
Destination_UNITED KINGDOM:  0.6%
Destination_VIET NAM:  0.5%
Destination_PHILIPPINES:  0.5%
Destination_CANADA:  0.5%
Destination_KOREA, REPUBLIC OF:  0.5%
Destination_FRANCE:  0.5%
Destination_ITALY:  0.4%
Destination_TAIWAN, PROVINCE OF CHINA:  0.4%
Destination_SPAIN:  0.4%
Agency_CWT:  0.4%
Destination_NETHERLANDS:  0.4%
Destination_NEW ZEALAND:  0.4%
Destination_SOUTH AFRICA:  0.3%
Destination_GERMANY:  0.3%
Product Name_Value Plan:  0.3%
Destination_INDIA:  0.3%
Destination_BRUNEI DARUSSALAM:  0.3%
Destination_SWITZERLAND:  0.3%
Destination_NEPAL:  0.3%
Destination_UNITED ARAB EMIRATES:  0.3%
Agency_SSI:  0.2%
Product Name_Single Trip Travel Protect Gold:  0.2%
Product Name_Annual Travel Protect Gold:  0.2%
Agency_KML:  0.2%
Destination_MYANMAR:  0.2%
Destination_ISRAEL:  0.2%
Distribution Channel_Online:  0.2%
Product Name_Gold Plan:  0.2%
Agency_RAB:  0.1%
Destination_CAMBODIA:  0.1%
Distribution Channel_Offline:  0.1%
Product Name_Ticket Protector:  0.1%
Product Name_Single Trip Travel Protect Platinum:  0.1%
Product Name_Single Trip Travel Protect Silver:  0.1%
Destination_TURKEY:  0.1%
Product Name_Annual Gold Plan:  0.1%
Destination_LAO PEOPLE'S DEMOCRATIC REPUBLIC:  0.1%
Product Name_Travel Cruise Protect:  0.1%
Destination_FINLAND:  0.1%
Product Name_Premier Plan:  0.1%
Destination_ARGENTINA:  0.1%
Destination_NORWAY:  0.1%
Destination_SRI LANKA:  0.1%
Agency_TST:  0.1%
Destination_MACAO:  0.1%
Destination_GREECE:  0.1%
Product Name_Annual Travel Protect Silver:  0.1%
Destination_BULGARIA:  0.1%
Destination_ICELAND:  0.1%
Agency_ART:  0.1%
Agency_TTW:  0.1%
Product Name_Annual Travel Protect Platinum:  0.1%
Destination_COSTA RICA:  0.1%
Destination_PORTUGAL:  0.1%
Agency_CCR:  0.1%
Product Name_Individual Comprehensive Plan:  0.1%
Destination_AUSTRIA:  0.0%
Product Name_24 Protect:  0.0%
Product Name_Comprehensive Plan:  0.0%
Destination_IRELAND:  0.0%
Agency_CSR:  0.0%
Agency_CBH:  0.0%
Destination_SWEDEN:  0.0%
Destination_DENMARK:  0.0%
Destination_SAUDI ARABIA:  0.0%
Destination_BANGLADESH:  0.0%
Destination_CZECH REPUBLIC:  0.0%
Destination_PERU:  0.0%
Destination_CROATIA:  0.0%
Destination_BELGIUM:  0.0%
Destination_RUSSIAN FEDERATION:  0.0%
Destination_MONGOLIA:  0.0%
Destination_MEXICO:  0.0%
Destination_QATAR:  0.0%
Destination_BHUTAN:  0.0%
Destination_MOROCCO:  0.0%
Product Name_Spouse or Parents Comprehensive Plan:  0.0%
Destination_KAZAKHSTAN:  0.0%
Destination_EGYPT:  0.0%
Destination_PAKISTAN:  0.0%
Destination_POLAND:  0.0%
Agency_ADM:  0.0%
Destination_ESTONIA:  0.0%
Destination_UKRAINE:  0.0%
Destination_BAHRAIN:  0.0%
Destination_ROMANIA:  0.0%
Destination_COLOMBIA:  0.0%
Destination_MALDIVES:  0.0%
Destination_UZBEKISTAN:  0.0%
Destination_MALTA:  0.0%
Destination_AZERBAIJAN:  0.0%
Destination_LITHUANIA:  0.0%
Destination_FIJI:  0.0%
Destination_KYRGYZSTAN:  0.0%
Destination_BRAZIL:  0.0%
Destination_JORDAN:  0.0%
Destination_HUNGARY:  0.0%
Destination_SERBIA:  0.0%
Destination_OMAN:  0.0%
Destination_SLOVENIA:  0.0%
Destination_CYPRUS:  0.0%
Destination_JAMAICA:  0.0%
Destination_ANGOLA:  0.0%
Destination_GUAM:  0.0%
Destination_KENYA:  0.0%
Destination_LIBYAN ARAB JAMAHIRIYA:  0.0%
Destination_ZIMBABWE:  0.0%
Destination_LUXEMBOURG:  0.0%
Destination_BOSNIA AND HERZEGOVINA:  0.0%
Destination_GEORGIA:  0.0%
Destination_NAMIBIA:  0.0%
Destination_KUWAIT:  0.0%
Destination_NORTHERN MARIANA ISLANDS:  0.0%
Destination_CAMEROON:  0.0%
Destination_MAURITIUS:  0.0%
Destination_PANAMA:  0.0%
Destination_ECUADOR:  0.0%
Destination_CHILE:  0.0%
Destination_REUNION:  0.0%
Destination_BOLIVIA:  0.0%
Destination_MOLDOVA, REPUBLIC OF:  0.0%
Destination_FAROE ISLANDS:  0.0%
Destination_NIGERIA:  0.0%
Destination_BARBADOS:  0.0%
Destination_BELARUS:  0.0%
Destination_PAPUA NEW GUINEA:  0.0%
Destination_ARMENIA:  0.0%
Destination_TANZANIA, UNITED REPUBLIC OF:  0.0%
Destination_VANUATU:  0.0%
Destination_GHANA:  0.0%
Destination_ETHIOPIA:  0.0%
Destination_MACEDONIA, THE FORMER YUGOSLAV REPUBLIC OF:  0.0%
Destination_TRINIDAD AND TOBAGO:  0.0%
Destination_FRENCH POLYNESIA:  0.0%
Destination_BOTSWANA:  0.0%
Destination_RWANDA:  0.0%
Destination_IRAN, ISLAMIC REPUBLIC OF:  0.0%
Destination_PUERTO RICO:  0.0%
Destination_VIRGIN ISLANDS, U.S.:  0.0%
Destination_VENEZUELA:  0.0%
Destination_GUINEA-BISSAU:  0.0%
Destination_LEBANON:  0.0%
Destination_ZAMBIA:  0.0%
Product Name_Travel Cruise Protect Family:  0.0%
Product Name_Child Comprehensive Plan:  0.0%
Destination_URUGUAY:  0.0%
Destination_UGANDA:  0.0%
Destination_TURKS AND CAICOS ISLANDS:  0.0%
Destination_TURKMENISTAN:  0.0%
Destination_TUNISIA:  0.0%
Destination_TAJIKISTAN:  0.0%
Destination_SOLOMON ISLANDS:  0.0%
Destination_SIERRA LEONE:  0.0%
Destination_SEYCHELLES:  0.0%
Destination_SENEGAL:  0.0%
Destination_SAMOA:  0.0%
Destination_REPUBLIC OF MONTENEGRO:  0.0%
Destination_NEW CALEDONIA:  0.0%
Destination_MALI:  0.0%
Destination_LATVIA:  0.0%
Destination_GUYANA:  0.0%
Destination_GUINEA:  0.0%
Destination_GUATEMALA:  0.0%
Destination_GUADELOUPE:  0.0%
Destination_DOMINICAN REPUBLIC:  0.0%
Destination_CAYMAN ISLANDS:  0.0%
Destination_BERMUDA:  0.0%
Destination_BENIN:  0.0%
Destination_ALBANIA:  0.0%

# Easy Ensemble AdaBoost Classifier

In [22]:
# Train the EasyEnsembleClassifier
Easy_Classifier = EasyEnsembleClassifier(n_estimators=100, random_state=42)
# fit
Easy_Classifier.fit(X_train_scaled, y_train)
# predict
y_pred = Easy_Classifier.predict(X_test_scaled)

In [23]:
# Check model accuracy
check_model_accuracy("Easy Ensemble AdaBoost Classifier", y_pred)

Easy Ensemble AdaBoost Classifier
----------------------------------------
Accuracy score is: 76.68%
Balanced accuracy score is: 75.47%
----------------------------------------
Confusion matrix
          Predicted 0  Predicted 1
Actual 0        11771         3573
Actual 1           59          170
----------------------------------------
Classification report
                   pre       rec       spe        f1       geo       iba       sup

          0       1.00      0.77      0.74      0.87      0.75      0.57     15344
          1       0.05      0.74      0.77      0.09      0.75      0.57       229

avg / total       0.98      0.77      0.74      0.85      0.75      0.57     15573

# Naive Random Oversampling

In [24]:
# Check the balance of current data set
Counter(y_train)

Counter({0: 46029, 1: 688})

In [25]:
# Implement Random Oversampling
ros = RandomOverSampler(random_state=1)
x_resampled, y_resampled = ros.fit_resample(X_train_scaled, y_train)
Counter(y_resampled)

Counter({0: 46029, 1: 46029})

In [26]:
# Train the Logistic Regression model using the resampled data
model = LogisticRegression(solver='lbfgs', random_state=42)
model.fit(x_resampled, y_resampled)

# predict
y_pred = model.predict(X_test_scaled)

In [27]:
# Check model accuracy
check_model_accuracy("Naive Random Oversampling", y_pred)

Naive Random Oversampling
----------------------------------------
Accuracy score is: 79.64%
Balanced accuracy score is: 76.33%
----------------------------------------
Confusion matrix
          Predicted 0  Predicted 1
Actual 0        12235         3109
Actual 1           62          167
----------------------------------------
Classification report
                   pre       rec       spe        f1       geo       iba       sup

          0       0.99      0.80      0.73      0.89      0.76      0.59     15344
          1       0.05      0.73      0.80      0.10      0.76      0.58       229

avg / total       0.98      0.80      0.73      0.87      0.76      0.59     15573

# SMOTE Oversampling

In [28]:
# Resample the training data with SMOTE
X_resampled, y_resampled = SMOTE(random_state=42, sampling_strategy='auto').fit_resample(X_train_scaled, y_train)
Counter(y_resampled)

Counter({0: 46029, 1: 46029})

In [29]:
# Train the Logistic Regression model using the resampled data
model = LogisticRegression(solver='lbfgs', random_state=42)
model.fit(X_resampled, y_resampled)

# predict
y_pred = model.predict(X_test_scaled)

In [30]:
# Check model accuracy
check_model_accuracy("SMOTE Oversampling", y_pred)

SMOTE Oversampling
----------------------------------------
Accuracy score is: 78.18%
Balanced accuracy score is: 76.45%
----------------------------------------
Confusion matrix
          Predicted 0  Predicted 1
Actual 0        12004         3340
Actual 1           58          171
----------------------------------------
Classification report
                   pre       rec       spe        f1       geo       iba       sup

          0       1.00      0.78      0.75      0.88      0.76      0.59     15344
          1       0.05      0.75      0.78      0.09      0.76      0.58       229

avg / total       0.98      0.78      0.75      0.86      0.76      0.59     15573

# Random Undersampling

In [31]:
# Resample the data using the RandomUnderSampler
rus = RandomUnderSampler(random_state=42)
X_resampled, y_resampled = rus.fit_resample(X_train_scaled, y_train)
Counter(y_resampled)

Counter({0: 688, 1: 688})

In [32]:
# Train the Logistic Regression model using the resampled data
model = LogisticRegression(solver='lbfgs', random_state=42)
model.fit(X_resampled, y_resampled)

# predict
y_pred = model.predict(X_test_scaled)

In [33]:
# Check model accuracy
check_model_accuracy("Random Undersampling", y_pred)

Random Undersampling
----------------------------------------
Accuracy score is: 78.87%
Balanced accuracy score is: 76.16%
----------------------------------------
Confusion matrix
          Predicted 0  Predicted 1
Actual 0        12114         3230
Actual 1           61          168
----------------------------------------
Classification report
                   pre       rec       spe        f1       geo       iba       sup

          0       0.99      0.79      0.73      0.88      0.76      0.58     15344
          1       0.05      0.73      0.79      0.09      0.76      0.58       229

avg / total       0.98      0.79      0.73      0.87      0.76      0.58     15573

# Cluster Centroid Undersampling

In [34]:
# Resample the data using the ClusterCentroids
cc = ClusterCentroids(random_state=42)
X_resampled, y_resampled = cc.fit_resample(X_train_scaled, y_train)

In [35]:
# Train the Logistic Regression model using the resampled data
model = LogisticRegression(solver='lbfgs', random_state=42)
model.fit(X_resampled, y_resampled)

# predict
y_pred = model.predict(X_test_scaled)

In [36]:
# Check model accuracy
check_model_accuracy("Cluster Centroid", y_pred)

Cluster Centroid
----------------------------------------
Accuracy score is: 54.48%
Balanced accuracy score is: 69.37%
----------------------------------------
Confusion matrix
          Predicted 0  Predicted 1
Actual 0         8290         7054
Actual 1           35          194
----------------------------------------
Classification report
                   pre       rec       spe        f1       geo       iba       sup

          0       1.00      0.54      0.85      0.70      0.68      0.44     15344
          1       0.03      0.85      0.54      0.05      0.68      0.47       229

avg / total       0.98      0.54      0.84      0.69      0.68      0.44     15573

# Combination (Over and Under) Sampling

In [37]:
smote_enn = SMOTEENN(random_state=42)
X_resampled, y_resampled = smote_enn.fit_resample(X_train_scaled, y_train)
Counter(y_resampled)

Counter({0: 40146, 1: 38962})

In [38]:
# Train the Logistic Regression model using the resampled data
model = LogisticRegression(solver='lbfgs', random_state=42)
model.fit(X_resampled, y_resampled)

# predict
y_pred = model.predict(X_test_scaled)

In [39]:
# Check model accuracy
check_model_accuracy("SMOTEENN", y_pred)

SMOTEENN
----------------------------------------
Accuracy score is: 80.49%
Balanced accuracy score is: 76.12%
----------------------------------------
Confusion matrix
          Predicted 0  Predicted 1
Actual 0        12371         2973
Actual 1           65          164
----------------------------------------
Classification report
                   pre       rec       spe        f1       geo       iba       sup

          0       0.99      0.81      0.72      0.89      0.76      0.58     15344
          1       0.05      0.72      0.81      0.10      0.76      0.57       229

avg / total       0.98      0.80      0.72      0.88      0.76      0.58     15573